div{
    width: 30px;
    height: 30px;
    float: left;
    margin: 5px;
}
div:not(#color){
    cursor: pointer;
}
.div1{
   background-color: #f40; 
}
.div2{
   background-color: #080; 
}
.div3{
   background-color: #f00; 
}
.div4{
   background-color: #00f; 
}
#color{
    background-color: #fff;
    border: 1px solid #000;
    margin-left: 50px;
}